@using Courses.Web.FrameworkExtentions

@model IEnumerable<Courses.Web.Models.ManageCourses.EditCourseGridViewModel>

@{
    ViewBag.Title = "EditCourses";
}

@Styles.Render("~/Content/mvc-grid-css")

<h2>EditCourses</h2>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Game ID").Css("hidden course-id");
        columns.Add(model => model.CourseName).Titled("Name").InitialSort(GridSortOrder.Desc);
        columns.Add(model => model.CoursePoints).Titled("Points");
        columns.Add(model => model.RegisteredStudents).Titled("Registered Users count");
    })
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 3;
    })
    .Filterable()
    .Sortable()
    .Empty("No data found")
)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<input type="hidden" id="anti-forgery-token" value="@AntiForgeryTokenHelper.GetAntiForgeryToken()" />

@Scripts.Render("~/bundles/mvc-grid")
@Scripts.Render("~/bundles/manageCoursesGridModule")